<h1>Flickr</h1>

<% if current_user %>
<%= link_to 'Add Photo', new_user_photo_path(current_user)   %>
<%= link_to 'Your Photos', user_path(current_user)   %>
<% end %>

<% if @photo %>
  <%= image_tag @photo.image.url(:medium) %>
<% end %>
