<h1>View Photo</h1>


<%= @photo.title %>
<br>
<%= @photo.description %>
<br>
<%= image_tag @photo.image.url(:medium) %>

<%= link_to 'Delete Photo', user_photo_path(@user, @photo),
                            :data => {:confirm => "Are you sure?",
                            :method => "delete"}%>
